pandas
streamlit >= 1.9.2
plotly.express
streamlit_authenticator == 0.2.3
pathlib
google-cloud-storage
google-auth-oauthlib
google-cloud-bigquery
google-auth
millify
numpy
requests
facebook_business
db-dtypes
requests
plotly
pdbpp
pandas-gbq
gspread